.myAzad{ 
    background-color: blue;
    color: white;
    padding: 50px 100px;
    margin: 100px;
    border-radius: 30px;
border-left: 50px solid black;
border-right: 50px solid red;
  }}

        #myAzad2{background-color: green;}
.myAzad{background-color: red;
    padding: 50 100;}

    .myimage{width: 300px;}
    .mydiv{background: rebeccapurple}